/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: ensures padding and borders are included in the element's total width and height */
}

body {
  font-family: Arial, sans-serif;
  /* background-image: url(Images/Grid.png); */
background-color:#FFFCFC;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: 20px auto; /* Corrected for top centering */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.button-container button {
  width: 56px;
  height: 56px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0056b3;
}

.button-container button.active {
    background-color: #0056b3; /* Darker blue for active state */
    color: white;
  }
  

.kaomoji-display {
  font-size: 24px;
  word-break: break-all; /* Ensure long text wraps */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.kaomoji-button {
    color: black;
  position: relative;
  top: 0;
  transition: ease-in-out 0.25s;
  font-size: 18px;
  
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #d33b78;
  background: #fef0ef;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease-in-out;
}

.kaomoji-button:hover {
  top: -4px;
  background: #fef0ef;
  box-shadow: 0px 8px 0px 0px #e8c2ff;
}

.active {
  background-color: red; /* Or any color to indicate active state */
  color: white; /* Adjust text color as needed */
}

/* Snackbar styles */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .button-container button {
    /* padding: 10px;
    font-size: 14px; */
  }

  .kaomoji-display {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .button-container button {
    /* width: 100%; Full width buttons on very small screens */
    /* margin: 10px 0; Adjust margin for vertical layout */
  }
}
